# Flask Configuration
FLASK_APP=app.py
FLASK_ENV=production
SECRET_KEY=antispoofing_secret_key_change_me

# Database Configuration
MONGO_URI=mongodb://mongo:27017/
DB_NAME=antispoofing_db

# Port Configuration
PORT=5001
